:root {
  --powder-blue: #93b5c6ff;
  --tea-green: #ddedaaff;
  --naples-yellow: #f0cf65ff;
  --burnt-sienna: #d7816aff;
  --fuchsia-rose: #bd4f6cff;
}


* {
  margin: none;
  padding: none;
  box-sizing: border-box; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 62.5%;
}

#game-field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
  width: 100%;
  background-color: bisque;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

#number-input {
  display: none;
}

.button {
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 14px;
  margin: 1.5rem;
}

#hidden-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
