:root {
  --powder-blue: #93b5c6ff;
  --tea-green: #ddedaaff;
  --naples-yellow: #f0cf65ff;
  --burnt-sienna: #d7816aff;
  --fuchsia-rose: #bd4f6cff;
}


* {
  margin: none;
  padding: none;
  box-sizing: border-box; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 62.5%;
  font-family: monospace;
}

#game-screen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

#header-container {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin: 0.25rem;
}

h3 {
  margin: 0.25rem;
  font-size: 3rem;
}

h4 {
  font-size: 0.5rem;
}

#page-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
}

#start-game {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#easy-mode {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#normal-mode {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#hard-mode {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

#message-content {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#return {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

#message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1; 
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: none;
  padding: none;
}

#guess-card {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #2C3E50;
  color: #FFFFFF;
}

#turns-card {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

#min-card {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

#max-card {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #BDC3C7;
  color: #2C3E50;
}

#button-grid {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  all: unset;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BDC3C7;
  color: #2C3E50;
  border-radius: 0.25rem;
  font-size: 2rem;
}

.enter {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
